.classpath
.project
.settings
eclipsebin

bin
gen
build
out
lib
.gradle

target
pom.xml.*
release.properties
local.properties
project.properties

.idea
*.iml
*.ipr
*.iws
classes

obj

.DS_Store

# [Maven] ========================
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties


# [Gradle-Android] ========================

# Ignore Gradle GUI config
gradle-app.setting

# Gradle Signing
signing.properties
*.keystore
gradle.properties